h1,p,div{
    border: 1px solid red;
    text-align: center;
    color:blue;
    padding: 10px;
    width: 50%;
}

span{

    border: 1px solid blue;  
    display: block;
}
.a{
    display: block;
}



